<br><br>
<div class="container" id="main_layout">
  <div class="row">
    <div class="col-lg-5 offset-md-4">
      <h3>New Reservation</h3>

      <%= render 'form' %>
      <br>
      <br>
      <%= link_to 'Back', galleries_path %>
    </div>
  </div>
</div>
