<% if @user.id == current_user.id %>
 <p>DM一覧</p>
  <% @another_entries.each do |e| %>
    <%= link_to room_path(e.room.id) do %>
      <%= image_tag e.user.avatar.url, size: "50x50" %><%= e.user.name %>さんとのDM<br>
    <% end %>
  <% end %>
<% else %>
  <% if @is_room == true %>
    <%= link_to "DMを送る", room_path(@room_id) %>
  <% end %>
<% end %>
