<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% if @user.id == current_user.id %>
       <p class: "btn btn-dark-moon btn-rounded btn-block">DM List</p>
        <% @another_entries.each do |e| %>
          <%= link_to room_path(e.room.id) do %>
            <%= image_tag e.user.avatar.url, size: "50x50" %><%= e.user.name %>さんとのDM<br>
          <% end %>
        <% end %>
      <% else %>
        <% if @is_room == true %>
          <%= link_to "Send DM", room_path(@room_id), class: "btn btn-dark-moon btn-rounded btn-block" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
